.baner{
    min-height:600px;
    background-color: #333;
    color:#eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.baner h1{
    font-size: calc(1.6rem + 1vw);
    line-height: calc(3.2rem + 1vw);
    text-align: center;
}

.baner .material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 200,
  'GRAD' 0,
  'opsz' 48
  ;
  font-size: calc(4rem + 1vw);
}
