.container.cat_title{
    text-align: center;
    padding: 3rem 0rem;
    font-size: 2.4rem;
    background-color: var(--themeColor1);
    color: var(--themeColor2);
    margin: 3rem 0rem;
  }
  

  .blog_container{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.blog_container > h1{
    font-size: calc(0.8rem + 1vw);

}
.blog_item_w {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.blog_item_thumb_cont_w{
    position: relative;
}
.blog_item_thumb_cont_w img{
    max-width: 100%;
    height: auto;
}

.blog_item_thumb_cont_date_cont_w{
    position: absolute;
    right:0;
    top:0;
    width:64px;
    height:64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    background-color: #444;
    color: var(--themeColor2);
    font-weight: 600;
    border: 1px solid var(--themeColor1);
}

.blog_item_thumb_cont_date_cont_w p:nth-of-type(1){
    font-size: 0.8rem;
}
.blog_item_thumb_cont_date_cont_w p:nth-of-type(2){
    font-size: 1.2rem;
    margin-top: -0.2rem;
}

.blog_item_info_cont_w a{
    text-decoration: none;
    color: var(--themeColor1);
    font-weight: 600;
    font-size: calc(0.7rem + 1vw);
    line-height: calc(1.4rem + 1vw);
}
.blog_item_info_cont_w p{
    padding-bottom: calc(0.5rem + 0.3vw);

}

.blog_item_info_cont_cat_cont_w{
    display: flex;
    gap: 4px;
    padding-top: calc(0.6rem + 0.3vw);
}
.blog_item_info_cont_cat_cont_w .cat_item_w a{
    padding: 7px;
    font-size: 0.8rem;
    background-color: var(--themeColor1);
    color: var(--themeColor2);
}

@media (max-width: 860px) {
    .blog_container{
        gap: 4rem;
    }
    .blog_item_w {
        flex-direction: column;
        gap: 0px;
    }
    .blog_item_thumb_cont_w img{
        max-width: 100%;
        height: auto;
    }
    .blog_item_info_cont_w a{
        font-size: 1.4rem;
        line-height: 1.8rem;
    }
    

}