@use 'variables' as *;

.cat_title{
    display: block;
    width:90%;
    text-align: center;
    padding: 3rem 0rem;
    font-size: 2.3rem;
    color: $themeColor3;
    margin: 1rem auto 6rem auto;
    border-bottom: 6px solid $themeColor1;
  }
  

.blog_container{
    padding-top: 2rem;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 5%;
}

.blog_items_w{  
    width:70%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.blog_item_w{
    border-bottom: 6px solid $themeColor2;
    overflow: hidden;
}

.blog_item_date_w{
    text-align: right;
    color:$themeColor3;
}

.blog_item_title_w{
    font-size: 1.4rem;
    padding-bottom: 15px;
}

.blog_item_title_w a{
    text-decoration: none;
    color: $themeColor1;
}

.blog_item_excerpt_w{
    padding-bottom: 20px;
}

.sidebar{
    width: 25%;
}


@media (max-width: $breakpointMobile) {

    .cat_title{
        font-size: 2rem;
        margin: 1rem auto 4rem auto;
        border-bottom: 6px solid $themeColor1;
      }

    .blog_items_w{  
        width:90%;
        gap: 30px;
    }
    .sidebar{
        width: 100%;
    }
    .blog_container{
        gap: 4rem;
        align-items: center;
        flex-direction: column;
    }
}