@use 'variables' as *;

.main_menu .ti{
    display: none;
  }

  .menu-item{
    display: inline-block;
    padding-bottom: 1rem;
  }
  
  .menu-item a{ 
    position: relative;
    padding: 20px 20px;
    margin: 10px 20px;
    color: $themeColor1;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: 0.5s;
    display: inline-block;
  }
  
  .menu-item a:hover{
    background-color: $themeColor1;
    color: $themeColor4;
    box-shadow: 0 0 50px $themeColor1;
    transition-delay: 0.2s;
  }
  
  .menu-item a:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    border-top: 2px solid $themeColor1;
    border-left: 2px solid $themeColor1;
    transition: 0.5s;
  }
  
  .current_page_item{
    filter:saturate(0);
  }
  
  
  .menu-item a:hover:before{
    width:95%;
    height: 95%;
  }
  
  .menu-item a:after{
    content:'';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid $themeColor1;
    border-right: 2px solid $themeColor1;
    transition: 0.5s;
  }
  .menu-item a:hover:after{
    width:95%;
    height: 95%;
  }
  
  @media (max-width: $breakpointTablet) {
    .menu-item a{
      line-height: 3rem;
      max-width: 3.4rem;
      max-height: 3.4rem;
      overflow: hidden;
      padding: 10px 10px;
      margin: 0px 5px;
      font-size: 1.4rem;
    }
    .main_menu .ti{
      display: block;
      font-size: 2.2rem;
    }
  }