@use 'variables' as *;

.wc-block-grid__products{
	max-width:1200px;
	margin:0 auto;
}
.wc-block-grid__products{
	display:flex;
	justify-content:center;
}

.wc-block-grid__product{
	border:1px solid $themeColor2;
	margin:1%;
}

.wc-block-grid__product-title{
    color: $themeColor1;
}

.wc-block-grid__product{
    padding: 20px;
}

.wc-block-grid.has-3-columns .wc-block-grid__product, .wc-block-grid.has-3-columns, .wc-block-grid__product{
	flex: 1 0 30%;
}

.product{
	padding-top: 30px;
}

.woocommerce div.product p.price{
	color: $themeColor1;
	font-size: 1.8rem;
	padding: 30px 0;
}

.woocommerce #respond input#submit.alt, .woocommerce a.button.alt, .woocommerce button.button.alt, .woocommerce input.button.alt{
	background-color: $themeColor1;
}




@media (max-width: $breakpointTablet) {

	.wc-block-grid__product{
		border:0px solid $themeColor1;
		margin-top:50px;
	}
}